# ==============================================================
# SchoolSM Environment Configuration (.env)
# ==============================================================

# Database Connection (Neon.tech PostgreSQL Cloud Database)
# ឧទាហរណ៍ពី Neon.tech Dashboard: postgresql://[user]:[password]@[endpoint].neon.tech/[dbname]?sslmode=require
DATABASE_URL=postgresql://user:password@ep-sample-project-123456.us-east-2.aws.neon.tech/neondb?sslmode=require

# Security Key
SECRET_KEY=django-insecure-xeqsrma-9udx0s5m!-eojy9z6%xz=%4p(zy7mdbc*jvyo!1f34

# Debug mode (True for local testing, False for production)
DEBUG=True
